header {
    font-family: Arial;
    transform: translateX(25%);

    .logotainer {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }
}
.dashy {
            font-size: 2rem;
            font-weight: bold;
            display: inline;
}

body {
    font-family: Arial;

    nav {
        display: flex;
        flex-direction: column;
        transform: translateY(-28%);
    }

    .sidenav {
        list-style: none;
        text-decoration: none;
        display: inline-block;

        li {
            padding: 0.5rem 0 0.5rem 0;
            text-indent: -1rem;
        }
    }
    .top-boxes {
        display: flex;
        display: inline-block;
        transform: translate(25%, -114%);
        width: 70%;

        .box-black {
            display: flex;
            display: inline-block;
            flex-direction: column;
            background-color: black;
            width: 35%;

            .box-topper-black {
                transform: translateX(2rem);
                font-size: 0.75rem;
                color: white;
            }

            .big-num-black {
                text-indent: 2rem;
                font-size: 2rem;
                color: white;
            }
        }

        .box {
            display: flex;
            display: inline-block;
            flex-direction: column;
            background-color: #f8f8f8;
            width: 35%;
            flex-wrap: wrap;

            .box-topper {
                transform: translateX(2rem);
                font-size: 0.75rem;
                color: black;
            }

            .big-num {
                text-indent: 2rem;
                font-size: 2rem;
                color: black;
            }
        }
    }

    .bottom-boxes {
        display: flex;
        width: 70%;
        transform: translate(25%, -114%);
        
        .graph {
            display: flex;
            width: 70%;
            justify-content: space-between;

            .bottom-topper {
                display: inline;
                font-size: 1.5rem;
                transform: translateY(5%);
            }

            .small {
                display: inline-block;
                transform: translateY(-204%);
                list-style-type: none;

                li {
                    display: inline-block;
                }
            }
        }
    }

    .balance {
        display: flex;
        flex-direction: column;
        width: 30%;
        transform: translate(25%, -114%);
    }
}

.fa-caret-down {
    color: #b80000;
}

.long-image {
    transform: translate(35%, -175%);
    width: 50%;
}